.navbar {
    background-color: #000;
    padding: 1rem;
    color: white;
}

.container {
    display: flex;
    gap: 1rem; 
}

.navButton {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.navButton:hover {
    background: white;
    color: black;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

@media (max-width: 600px) {
    .title {
        position: relative;
        left: unset;
        transform: unset;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 0.7rem;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    .title {
        font-size: 1rem;
    }
}
